<table class ="table tbl-striped">
    <thead>
        <th>ID</th>
        <th>Company</th>
        <th>Price</th>
        <th>Order Qty</th>
    </thead>
    <tbody>
        <tr *ngFor = "let p of products">
            <td>{{p.id}}</td>
            <td>{{p.name|uppercase}}</td>
            <td>{{p.price|currency}}</td>
            <td>{{p.quantityInOrder}}</td>
            <td>{{p.date|date:'MM-dd-yyyy hh:mm:ss'}}</td>
            <td><button class="btn btn-primary" (click)="addToCart(p)">Add To Cart</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total : {{total.totalPrice|currency}}</td>
            <td>Quantity : {{total.quantity}}</td>
        </tr>
    </tbody>
</table>