<form name="loginForm" 
#f="ngForm"
(ngSubmit)="f.form.valid"
novalidate
>
<div class="container mt-5">
    <div class="form-group">
        <label for="username" class="form-label mt-4">UserName</label>
        <input type="text" class="form-control"
        name="username"
        #username="ngModel"
         id="username" 
         [(ngModel)]="logincreds.username" 
         aria-describedby="username"
            placeholder="Enter Username"
            required
            minlength="3"
            maxlength="10"
            pattern = "^[a-zA-Z0-9]*$"
            >
            <div *ngIf="username.invalid" class ="text-danger">
                <div *ngIf="username.errors && username.errors['required']">Username is required.</div>
                <div *ngIf="username.errors && username.errors['minlength']">Username should be minimum of 3 characters.</div>
                <div *ngIf="username.errors && username.errors['maxlength']">Username should be maximum of 10 characters.</div>
                <div *ngIf="username.errors && username.errors['pattern']">Username cannot have special characters.</div>
            </div>
    </div>
    <div class="form-group">
        <label for="password" class="form-label mt-2">Password</label>
        <input type="password" class="form-control"
        name="password"
        #password="ngModel"
        id="password" [(ngModel)] ="logincreds.Password" aria-describedby="password"
            placeholder="Enter Password"
            required
            >
            <div *ngIf="password.invalid" class ="text-danger">
                <div *ngIf="password.errors && password.errors['required']">Password is required.</div>
               </div>
    </div>
    <div class="form-group">
        <!-- <button class="btn btn-primary mt-2" (click)="login()">Login</button> -->
        <button type="submit" class="btn btn-primary mt-2" (click)="login()" >Submit</button>
        <p class="text-success mt-3" *ngIf="loggedIn"><strong>Welcome!</strong></p>
    </div>
</div>
</form>